(ns oc.reminder.db.migrations.create-reminders
  (:require [rethinkdb.query :as r]
            [oc.lib.db.migrations :as m]
            [oc.reminder.config :as c]
            [oc.reminder.resources.reminder :as reminder]))

(defn up [conn]

  (println "Creating table: " reminder/table-name)
  (println (m/create-table conn c/db-name reminder/table-name reminder/primary-key))
  (println (m/create-index conn reminder/table-name "org-uuid"))
  (println (m/create-index conn reminder/table-name "next-date"))

  true) ; return true on success